<template>
  <div class="v-provider-list">
    <item
      v-for="provider in displayProviders"
      :key="provider.id"
      :name="provider.name"
      :id-provider="provider.id"
      :is-choosed="provider.isChoosed"
    ></item>
  </div>
</template>

<script>
import Item from "./Item.vue";
import { mapState } from "vuex";

export default {
  components: {
    item: Item
  },
  computed: {
    ...mapState(["providers", "activeProviders"]),
    displayProviders() {
      

      return this.providers.map(provider => {
        return {
          name: provider.name,
          id: provider._id,
          isChoosed: this.activeProviders.includes(provider._id)
        };
      });
    }
  },

  data() {
    return {
      items: this.providers
    };
  }
};
</script>

<style lang="scss" scoped>
.v-provider-list {
  max-height: 147px;
  overflow: auto;
}
</style>
