<template>
  <div class="provider-add">
    <div class="provider-add-controls">
      <v-input class="input" v-model="name"></v-input>
      <v-button class="button" @click="handleAddProvider"
        >Add provider</v-button
      >
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      name: ""
    };
  },

  methods: {
    ...mapActions(["addProvider"]),
    handleAddProvider() {
      if(!this.name) {
        return 
      }

      this.addProvider({name: this.name});
      this.name = ""
    }
  }
};
</script>

<style lang="scss" scoped>
.provider-add {
  &-controls {
    display: flex;

    .input {
      flex: 2;
      height: 36px;
      background: #f1f3f5;
      border-radius: 4px;
      margin-right: 10px;
    }

    .button {
      flex: 1;
    }
  }
}
</style>
